/*
 * Sonatype Asciidoc Template
 *
 */

/*** Layout ***/

/* overriding content from application.css */

h1 {
    padding-bottom: 10px;
}

.preface a, .preface a:hover {
	font-family: Calibri,Arial,Helvetica,sans-serif;
	font-size: 18px;
	color: #135678 !important;
	text-decoration: none;
}

.chapter a, .chapter a:hover {
	font-family: Calibri,Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-style:bold;
	color: #135678 !important;	
	text-decoration: none;
}

.section a, .section a:hover {
	font-family: Calibri,Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-style:bold;
}

.book .titlepage h1.title {
    color: #000;
	font-size: 28px;
}

.authorgroup {
  float: right;
  width: 140px;
  margin-top: -20px;
}

.authorgroup h2 {
  margin-bottom: 5px;
  padding-bottom: 0px;
}

.author {
  float: left;
  clear: left;
}

.book .titlepage hr {
  display: none;
}

.toc_intro {
  margin-top: 20px;
  float: left;
  text-align: justify;
}

.addthis_toolbox {
  margin-top: 10px;
  margin-bottom: 10px;
}

#nav-sub-block {
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
}

ul#nav-sub  {
  margin: 0px;
  padding: 0px;
}

ul#nav-sub li {
  text-align: center;
  list-style-type: none;
  display: inline-block;
}

ul#nav-sub li.first {
  text-align: left;
  float:left;
  font-style: italic;
  margin-right: 30px;
}

ul#nav-sub li.last {
  text-align: right;
  float:right;
  font-style: italic;
  margin-left: 30px;
}

/* --- Admonitionblock Styling --- */

table {
  border: 0px;
}

table th, table td {
  border: 0px;
  background-color: inherit;
  padding: 0px;
}

div.warning, div.caution, div.important, div.note, div.tip {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 7px 7px 7px 21px;
}

div.warning h3, div.caution h3, div.important h3, div.note h3, div.tip h3 {
  margin-bottom: 3px;
  margin-top: 3px;
  padding: 0px;
}

div.warning p, div.caution p, div.important p, div.note p, div.tip p {
  margin: 0px;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
}

div.warning table, div.caution table, div.important table, div.note table, div.tip table {
  margin: 5px;
}

/** control image size to the original image size */
div.warning img, div.caution img, div.important img, div.note img, div.tip img {
  height: 48px;
  width: 48px;
  max-width: none;
}

.warning {
  background: #f5d9d6;
  border: 2px solid;
  border-color: #d04437;
}

.warning h3 {
  color: #d04437;
}

.caution {
  background: #f5d9d6;
  border: 2px solid;
  border-color: #d04437;
}

.caution h3 {
  color: #d04437;
}

.important {
  background: #dfd;
  border: 2px solid;
  border-color: #91c89c;
}

.important h3 {
  color: #91c89c;
}

.tip {
  background: #dfd;
  border: 2px solid;
  border-color: #91c89c;
}

.tip h3 {
  color: #91c89c;
}

.note {
  background: #dfd;
  border: 2px solid;
  border-color: #91c89c;
}

.note h3 {
  color: #91c89c;
}