/* --- Typography Styling --- */

@font-face {
	font-family: ProximaNovaRegular;
	src: url(../fonts/proximanova-reg-webfont.eot);
	src: url(../fonts/proximanova-reg-webfont.woff) format('woff'),
	src: url(../fonts/proximanova-reg-webfont.ttf) format('truetype'),
	src: url(../fonts/proximanova-reg-webfont.svg#webfont) format('svg');
}
@font-face {
	font-family: ProximaNovaBold;
	src: url(../fonts/proximanova-bold-webfont.eot);
	src: url(../fonts/proximanova-bold-webfont.woff) format('woff'),
	src: url(../fonts/proximanova-bold-webfont.ttf) format('truetype'),
	src: url(../fonts/proximanova-bold-webfont.svg#webfont) format('svg');
}
@font-face {
	font-family: ProximaNovaSemibold;
	src: url(../fonts/proximanova-sbold-webfont.eot);
	src: url(../fonts/proximanova-sbold-webfont.woff) format('woff'),
	src: url(../fonts/proximanova-sbold-webfont.ttf) format('truetype'),
	src: url(../fonts/proximanova-sbold-webfont.svg#webfont) format('svg');
}
body {
	background: #ffffff;
	font-family: "ProximaNovaRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	display: block;
	position: absolute;
	height: auto;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 0;
}
p, li, dd, dt, td, pre, code {
	font-size: 17px;
}

p{
	line-height:23px;
	text-shadow: 0px 1px 0px white;
	padding-bottom:10px;
}

li p {
	padding-bottom:0px;
	line-height:17px;	
}
ul > li {
	color: #555;
	line-height:28px;
	font-size:17px;
}
ul > li > *{
	color: #555;
}
a, a:active, a:focus {
	color: #2476C3;
	outline: 0;
	text-decoration:none;
}
a:hover {
	color: #17558e;
	text-decoration:underline;	
}
a:visited {
	color: #17558e;	
}

h1, h2, h3, h4, h5, h6 {
	font-family: "ProximaNovaSemibold", "ProximaNovaRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: 0px 1px 0px white;
	border:0px;
	color: #444444;
}
h3 {
	float:none;	
}
/* h4 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14.5px;
	margin-bottom: 0;
	color: #333333;
} */

em {
	color:#0b9743;	
}
dt {
  	font-family: "ProximaNovaSemibold", "ProximaNovaRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: 0px 1px 0px white;
	line-height: 23px;
	color: #333333;
	padding-top:0px;
}

dt .section {
	padding-top:10px;
	margin-top:0px;	
}

dt .chapter {
	padding-top:10px;	
}

dt .chapter a {
	line-height:21px;
	padding:0px;
	margin:0px;	
}

dt .section a {
	font-size:15px;
	line-height:19px;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:20px;
}

dt .section a:hover {
	text-decoration:underline;	
}

dt .section a:visited {
	color: #17558e;
}

dd {
	line-height:23px;
	text-shadow: 0px 1px 0px white;
	padding-top:0px;
	padding-bottom:0px;
	margin-left:0px;
	padding-left:10px;
}

dl {
	padding-bottom:0px;	
}

.list-of-figures dt {
	font-size:15px;	
}

strong {
	color: #444444;
}

hr {
	display:none;	
}

.img {
	text-align:left;	
	padding-top:10px;
}

/* --- Body links --- */

.content a, .content a:active, .content a:focus {
	color: #2476C3;
	outline: 0;
	text-decoration:none;
}
.content a:hover {
	color: #17558e;
	text-decoration:underline;	
}
.content a:visited {
	color: #17558e;	
}

/* --- Fix for img alignment issues --- */

div.imageblock div.content {
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 20px;
}

/* --- Img Description --- */

p.title {
	padding-top:10px;	
}
p.title strong {
	font-size:15px;
	font-weight:normal;
	color:#666666;	
}

br.figure-break {
	display:none;	
}

/* --- Title Heading Styling --- */

div.title, caption.title {
	font-family: "ProximaNovaSemibold", "ProximaNovaRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: 0px 1px 0px white;
	color: #36424e;
	font-size:20px;
	font-weight: bold;
	text-align: left;
	padding-top: 20px;
	margin-bottom: 0.5em;
}
div.title + * {
	margin-top: 10px;
}

td div.title:first-child {
	margin-top: 0.0em;
}
div.content div.title:first-child {
	margin-top: 0.0em;
}
div.content + div.title {
	margin-top: 0.0em;
}

/* --- NAVBAR --- */

.navbar .brand {
    margin-left: 0px;
    white-space: nowrap;
}

.navbar .company {
	margin-left:10px;	
	line-height:26px;
	color:#666;	
}

.navbar .book-title {
	margin-left:20px;
	padding-left:20px;
	border-left:1px solid #ccc;	
	color:#666;
}
.navbar-inner {
	min-height:40px;
	padding-right:20px;
	padding-left:20px;
	padding-bottom:5px;
	background-color:#fafafa;
	background-image:linear-gradient(tobottom,#fff,#f2f2f2);
	background-repeat:repeat-x;
	border:1px solid #d4d4d4;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
	zoom:1;
	-webkit-box-shadow:0 1px 4px rgba(0,0,0,0.065);
	-moz-box-shadow:0 1px 4px rgba(0,0,0,0.065);
	box-shadow:0 1px 4px rgba(0,0,0,0.065);
}
.navbar .brand {
	padding: 10px 25px 10px 0;
}
.header-centered {
    text-align: center;
}

/* --- Sub Nav Styling --- */

#nav-sub-block {
  	margin: 0px;
  	padding: 0px;
  	padding-top: 10px;
  	padding-bottom: 0px;
}

ul#nav-sub  {
  	margin: 0px;
  	padding: 0px;
  	text-align:center;
}

ul#nav-sub li {
  	text-align: center;
  	list-style-type: none;
  	display: inline-block;
  	font-size:13px;
}

ul#nav-sub li.first {
	float:left;	
}
ul#nav-sub li.last {
	float:right;	
}

/* --- Search Box Styling --- */
.search-box {
	float:right;
	width:400px;
	margin-top:6px;
	height:20px;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    margin-top: 5px;
    margin-bottom: 0px;
}
form.gsc-search-box {
    font-size: 13px;
    margin: 0px;
    width: 200px;
}
table.gsc-search-box {
    border-style: none;
    border-width: 0px;
    border-spacing: 0px;
    width: 200px;
    margin-bottom: 2px;
    margin-top: 5px;
}
td.gsc-input {
	width:200px;	
}
.gsc-search-box-tools .gsc-search-box .gsc-input {
    padding-right: 1px;
}
.gsc-input-box {
    border: 1px solid #D9D9D9;
    background: none repeat scroll 0% 0% #FFF;
    height: 26px;
    margin-top: 2px;
}
.gsc-input input[type="text"] {
	box-shadow: none;
	transition: none;	
}
.gsc-input input[type="text"]:focus {
	box-shadow: none;
}
.gsst_a .gscb_a {
    color: #ccc;
    cursor: pointer;
}
form.gsc-search-box td {
    font-size: 11px;
}
input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
    border-color: #17558E;
    background-color: #2476C3;
    background-image: none;
    filter: none;
    padding: 6px 27px;
}
.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
    width: 13px;
    height: 13px;
    padding: 6px 27px;
    min-width: 13px;
    margin-top: 2px;
}


/* --- Left Sidebar Styling --- */
.left-sidebar {
	height:100%;
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    width:300px;
    padding: 0px;
    margin: 0px;
    overflow: auto;
    background:#333333;	
	box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.1);
	border:0px;
}
.left-sidebar .sidebarTitle {
	padding:5px;
	margin:0px;
	font-weight:bold;
	line-height:35px;
	vertical-align:text-top;
    color:#f5c649;
  	text-transform:uppercase;
  	border-left: 3px solid #f5c649;
}
.left-sidebar .sidebarTitle a {
	color:#f5c649;
	text-decoration:none;
  padding-left: 20px;
}

.left-sidebar .sidebarTitle a:hover {
	color:#cc9900;
	text-decoration:underline;
}
.left-sidebar .sidebar {
	padding-left:20px;
	padding-right:5px;
	margin-left:20px;	
	margin-right:.3em;
	margin-top:7px;
	line-height:19px;
	vertical-align:text-top;
  color:#ffffff;
	background-position:0px 2px;
	background-repeat:no-repeat;
	background-image:url("../images/glyphicons_book.png");
}
.left-sidebar .sidebar a, a:active, a:focus {
	color:#ffffff;
	text-decoration:none;
}

.left-sidebar .sidebar a:hover {
	color:#f5c649;
	text-decoration:underline;
}
.left-sidebar .sidebarServer {
	padding-left:0px;
	padding-right:5px;
	margin-left:20px;	
	margin-right:.3em;
	margin-top:7px;
	line-height:19px;
	vertical-align:text-top;
  color:#ffffff;
	background-image:none;
}
.left-sidebar .sidebar .toclevel1 a:visited {
	color:#ffffff;
	text-decoration:none;
}

/* --- Single Page Body Content Styling --- */

#header {
	margin-top:0px;	
}
.content {
	/*position: absolute;*/
	margin-top:80px;
	margin-bottom:0px;
	right:0px;
	margin-left:350px;
}
.content h2 {
	padding-top:25px;	
}
.content h3 {
	padding-top:15px;	
}
.span9 {
	width:700px;
	top:0px;
	/*position:absolute;*/
}
.span4 {
	width:300px;
}
.span3 {
	width:220px;
}
.span2 {
	width:140px;
}
.listingblock .content {
	margin:0px;
	border-left: 5px solid #f5c649;
	background: none repeat scroll 0% 0% #ffffff;
	padding: 0.5em;
}
div.listingblock div.content {
  	border-left: 5px solid #cccccc;
  	border-right:0px;
  	border-top:0px;
  	border-bottom:0px;
  	background: #ffffff;
  	padding: 0.5em;
}

/* --- Multi Page Body Content Styling --- */

/*.book-sidebar {
	width:300px;
	margin-right:300px;	
	background:#333;
}*/

.contentMulti {
	position: absolute;
	margin-top: 50px;
	bottom : 0px;
	right : 0px;
	margin-left : 400px;
}

pre {
    display: block;
    padding: 20px;
    line-height: 21px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: #FFFFFF;
    border: 0px;
    border-radius: 0px;
}
code, pre {
    /*padding: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
    margin-bottom: 15px;*/
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 13px;
    color: #666666;
    border-radius: 0px;
    /*border-left:5px solid #ccc;*/
}

pre.screen {
	border-left:5px solid #ccc;	
}

code.literal {
	font-family: "Lucida Console", Monaco, monospace;
	font-size:15px;
	font-weight:normal;
	color: #909090;
	padding:3px 3px;
	margin:0px;
	border:0px;
	background:transparent;
}

/* change this from white to faint grey */
hr {
    margin: 20px 0px;
    border-right: 0px none;
    border-left: 0px none;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 1px 0px;
    border-style: solid none;
    border-color: rgb(238, 238, 238) -moz-use-text-color rgb(255, 255, 255);
}

/* --- Admonitionblock Styling --- */

div.warning, div.caution, div.important, div.note, div.tip {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 7px 7px 7px 21px;
}

div.warning h3, div.caution h3, div.important h3, div.note h3, div.tip h3 {
  margin-bottom: 3px;
  margin-top: 3px;
  padding: 0px;
}

div.warning p, div.caution p, div.important p, div.note p, div.tip p {
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

div.warning table, div.caution table, div.important table, div.note table, div.tip table {
  margin: 5px;
}

/** control image size to the original image size */
div.warning img, div.caution img, div.important img, div.note img, div.tip img {
  height: 48px;
  width: 48px;
  max-width: none;
}

.warning {
  background: #f5d9d6;
  border: 2px solid #ccc;
  border-color: #d04437;
}

.warning h3 {
  color: #d04437;
}

.caution {
  background: #f5d9d6;
  border: 2px solid #ccc;
  border-color: #d04437;
}

.caution h3 {
  color: #d04437;
}

.important {
  background: #dfd;
  border: 2px solid #ccc;
  border-color: #91c89c;
}

.important h3 {
  color: #91c89c;
}

.tip {
  background: #dfd;
  border: 2px solid #ccc;
  border-color: #91c89c;
}

.tip h3 {
  color: #91c89c;
}

.note {
  background: #dfd;
  border: 2px solid #ccc;
  border-color: #91c89c;
}

.note h3 {
  color: #91c89c;
}

/* --- Author Styling --- */

.authorgroup {
  	float: right;
  	width: 140px;
  	font-size:15px;
	line-height:19px;
	padding-top:0px;
}
.authorgroup h2 {
	font-size:26px;
  	margin-bottom: 5px;
  	margin-top:0px;
  	padding-bottom: 0px;
  	padding-top:0px;
}
.authorgroup br {
	display:none;	
}
.author {
	font-size:15px;
	padding-bottom:5px;
  	float: left;
  	clear: left;
}

/* --- asciidoc overrides --- */

p.simpara {
	padding-left:0px;
	margin-left:0px;
	margin-bottom:0px;	
}

/* --- Itemized list styling fixes --- */

.itemizedlist {
	font-size:17px;
	line-height:23px;	
}
.itemizedlist p.simpara {
	font-size:17px;
	line-height:23px;	
}

/* --- Search Box Styling --- */

.glyphicons-icon {
  	display: inline-block;
  	width: 40px;
  	height: 40px;
  	line-height: 48px;
  	vertical-align: text-top;
  	background:transparent url("../images/glyphicons.png") no-repeat 0 0;
  	vertical-align: top;
  	*display: inline;
  	*zoom: 1;
  	*margin-right: .3em;
}
.glyphicons-icon.search {
	background-position: -332px -90px;
	border:none;
}
input[type="submit"] {
	width:40px;	
}

/* --- Search Results Page Styles --- */

.cse .gsc-control-cse, .gsc-control-cse {
	padding:0em;
}
.gsc-adBlock {
    padding-bottom: 5px;
    display: none;
}
.gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top {
	padding-left:0px;
	padding-right:0px;
}
.gsc-control-cse, .gsc-control-cse .gsc-table-result {
	font-size:14px;	
}
.gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
    color: #666;
    font-size: 14px;
}
.gsc-results .gsc-cursor-box {
    margin:10px 0px;
}
.gsc-results .gsc-cursor-box .gsc-cursor-page {
	border-color: #FFF;
	background-color: #FFF;
	color: #00C;
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
    border-color: #FFF;
    background-color: #FFF;
    color: #00C;
}
.gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top {
    padding-left: 0px;
    padding-right: 0px;
}

/* --- Portrait tablet to landscape and desktop --- */
@media (min-width: 768px) and (max-width: 979px) { 
	.content {
		margin-left:50px;	
	}
	.span9 {
		width:700px;	
	}
	.span3 {
		width:100px;
	}
}
 
/* --- Landscape phone to portrait tablet --- */
@media (max-width: 767px) {
	.content {
		margin-left:50px;
	}
	.span9 {
		width:600px;
	}
	.span3 {
		display:none;
	}
}
}
 
/* --- Landscape phones and down --- */
@media (max-width: 480px) {
	.content {
		margin-top:50px;
		margin-left:50px;	
	}
	.span9 {
		width:300px;
	}
	.span3 {
		display:none;
	}
}

}
